:root {
    --primary-color: #330033;
    --white-color: #fff;
    --gap: 3rem;
    --light-gray-color: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;

}

p {
    margin-bottom: 3rem;
}

.resposive-table {
    overflow: hidden;
    overflow-x: auto;

}


table {
    min-width: 360px;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td,
table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color)
}

tfoot td,
table th {
    background: var(--light-gray-color);
}

.main-bg {
    background-image: url('../img/endless-constellation.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}


.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);

}

.section {
    min-height: 100vh;
}

.Menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
    z-index: 1;
}

.Menu h1 {
    font-size: 2.3rem;

}

.Menu h1 a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
    color: var(--primary-color);
}

.Menu ul {
    list-style: none;
    display: flex;
}

.Menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
    color: var(--primary-color);

}

.Menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}

.Menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.Menu-content {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;

}

.menu-spacing {
    height: 65px;
}

.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text,
.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}



.intro-img img {
    max-width: 100%;
    height: auto;
}

.top3-content {
    max-width: 64rem;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;

}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -3rem;
    left: -2rem;
    transform: rotate(5deg);
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.gallery-image {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-image img {
    transition: all 300ms ease-in-out;
}

.gallery-image img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}



.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 320px;

}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
}

.full-width {
    display: flex;
    width: 100%;
    flex: 1 1 100%;
    justify-content: center;


}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;


}

#caixa-de-feedback {
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

#A2 {
    color: var(--white-color)
}

.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: var(--light-gray-color);
}

.footer {
    text-align: center;

    font-size: 1.6rem;
}

.footer a {
    color: var(--primary-color);
}


.heart {
    color: red
}

.footer p {
    padding: 4rem;
}

.close-menu {
    display: none;

}

@media (max-width: 800px) {

    .intro-content,
    .grid {
        grid-template-columns: 1fr;
    }

    .gallery-image {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-image img {
        width: 100%;
    }

    .grid-one-content {
        display: block;
    }

    .Menu {
        display: none;
        bottom: 0;
        text-align: center;
    }

    .Menu-content,
    .Menu-content ul {
        flex-direction: column;
        justify-content: center
    }

    .Menu-content {
        height: 100vh;
    }

    .close-menu-label::after {
        content: "☰";
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 1rem;
        cursor: pointer;
    }

    .close-menu:checked~.Menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: "✕";
    }

    .menu-spacing {
        display: none;
    }
}